* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
  --farge-0: white;
  --farge-1: gray;
  --farge-2: yellow;
  --farge-3: blue;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Simplifica", sans-serif;

}


.hero {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(bilder/grill-sv.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   filter: brightness(60%);
}
.hero-content {
   position: relative;
/*   font-family: "Simplifica", sans-serif;*/
   text-transform: uppercase;
   color: white;
   text-align: center;
   margin: /*0.625*/0.1rem;
}
.hero-title {
   font-size: 2rem;
   font-weight: 200;
   margin-bottom: 2rem;
   padding-top: 5rem;
}
.hero-subtitle {
   font-size: 1rem;
   font-weight: 200;
   margin-top: 2rem;
}
/*
.hero-button {
   background-color: var(--farge-0);
   color: white;
   border: 0.15rem solid #7a7a7a;
   margin: 2rem 0.5rem;
   text-transform: uppercase;
   padding: 1.5rem 1.8rem;
 /*  font-family: "Simplifica", sans-serif;
   font-size: 1rem;
   font-weight: 200;
   cursor: pointer;
}
.hero-button:hover {
   background-color: #ffef40;
   color: black;
   border: 1px solid #db7598;
}
*/


#map {
    height: 50vh;
    width: 100%;
  }
/*
main > section:nth-of-type(odd) {
    background: #ffef40;
}
main > section:nth-of-type(even) {
    background: #cccccc;
}
*/
section {
    margin: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.hovedseksjon {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoboks {
    background-color: var(--farge-3);
    border: .3em solid;
    border-filter: brightness(75%)
    border-radius: .5em;
    width: 100%
}

#hytter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*height: 60vh;*/
}

.seksjonsfot {
    background: var(--farge-2);
    
}

.hytte {
    border: .3em solid var(--farge-2);
    border-filter: brightness(50&);
    border-radius: .5em;
    background-color:#ffef40;
    margin: 1% 1%;
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
}    
.hytte img {
    width: 100%;
    height: auto;
}

.hovedtekst {
    margin: 0% 5%;
}


/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
  width: 100%;
  background: #454545;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
#page-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #ffffff;
    /*background: #a02620;*/
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
    transform: none;
  }
}



/*Skjema*/
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 100%;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

form label {
  /* Uniform size & alignment 
  display: inline-block;
  width: 90px;
*/
  text-align: right;
}

form input,
form select, 
form textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 96%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

form input:focus, 
form textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

form textarea {
  /* Align multiline text fields with their labels */
/*  vertical-align: top;*/

  /* Provide space to type some text */
  height: 5em;
}

form .button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

form button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}
